doctype html
html(lang="en") 
  include includes/head.pug
  body(width="100vw", height="100vh")
    //- #fb-root
    //-   script.
    //-     (function(d, s, id) {
    //-     var js, fjs = d.getElementsByTagName(s)[0];
    //-     if (d.getElementById(id)) return;
    //-     js = d.createElement(s); js.id = id;
    //-     js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.9&appId=322827800821";
    //-     fjs.parentNode.insertBefore(js, fjs);
    //-     }(document, 'script', 'facebook-jssdk'));
    main
      #main
        //- .title-container
        //-   img(src="assets/img/top-logo.png")
        .canvas-container
          canvas#mobile-canvas(width="732px", height="412px")
        //- .fb-share-button(
        //-   data-href="http://www.dinopianito.com.ar" 
        //-   data-layout="button_count" 
        //-   data-size="large" 
        //-   data-mobile-iframe="false")
        //-     a(class="fb-xfbml-parse-ignore" 
        //-       target="_blank"
        //-       href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.dinopianito.com.ar%2F&amp;src=sdkpreparse") 
        //- .fb-like(
        //-   data-href="https://www.facebook.com/dinopianito/?fref=ts" 
        //-   data-layout="box_count" 
        //-   data-action="like" 
        //-   data-size="small" 
        //-   data-show-faces="true" d
        //-   ata-share="false")
        //- a.blue-tr-s-rn-none#ml-button(mp-mode="dftl"
        //-   href="https://www.mercadopago.com/mla/checkout/start?pref_id=262349392-907faa10-29ce-4d89-ab55-44c20bee49eb"
        //-   name="MP-payButton").
        //-     ¡Comprá la remera!

    footer#footer
    include includes/scripts.pug